@import "tailwindcss";

body {
  /* <<< 여기가 중요: var(--font-pretendard)가 맨 앞에 오는지 확인! >>> */
  font-family: var(--font-pretendard), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: theme("colors.black");
  @apply bg-gray-100;
}
input,
button,
textarea,
select {
  font-family: inherit; /* body의 폰트를 상속받도록 설정 */
}
